{% extends "base.html" %}
{% load static %}
{% block metadescription %}
{{ film.description|truncatewords:155 }}
{% endblock %}
{% block title %}
{{ film.name }} - Perfect Film Store
{% endblock %}
{% block content %}
<div class="row my_film_row_class">
<div class="mx-auto">
<p><a href="{% url 'shop:allFilmCat' %}">Home</a> | <a href="{{ 
film.category.get_url }}">{{film.category}}</a> | {{film.name}}</p>
</div>
<div class="container">
<br>
<div class="row">
<div class="col-12 col-sm-12 col-lg-6 text-center">
<div style="min-width: 20rem;">
<img src="{{film.image.url}}" 
alt="{{film.name}}">
</div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-6">
<div>
<h1 class="my_film_title">{{film.name}}</h1>
<p>£{{film.price}}</p>
<p class="my_title">Film Description</p>
<p class="text-justify my_film_text">{{film.description}}</p>
{% if film.stock == 0%}
<p class="text-justify my_film_text"><b>Out of Stock</b></p>
{% else %}
<a class="btn btn-secondary" href="{% url 'cart:add_cart' film.id %}">Add to Cart</a>
{% endif %}
</div>
</div>
</div>
</div>
</div>
{% endblock %}
